<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>ServletConfigAndServletContextExample.ConfigServlet</servlet-class>
        <init-param>
            <param-name>dbUser</param-name>
            <param-value>admin</param-value>
        </init-param>
        <init-param>
            <param-name>dbPassword</param-name>
            <param-value>password123</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>
</web-app>
